<!-- 내 페이지 -->
<!-- pageapp-calendar.html -->

<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>Change-Up</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="styles/style.css">
<link rel="stylesheet" type="text/css" href="styles/framework.css">
<link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">    
</head>
    
<body class="theme-light" data-background="none" data-highlight="blue2">
        
<div id="page">
        
    <div id="page-preloader">
        <div class="loader-main"><div class="preload-spinner border-highlight"></div></div>
    </div>
    
	<div class="header header-fixed header-logo-left">
        <a href="index.html" class="header-title">Change-Up</a>
		<a href="page-contact.html" class="header-icon header-icon-1"><i class="fas fa-envelope"></i></a>
		<a href="#" data-toggle-theme-switch class="header-icon header-icon-2"><i class="fas fa-moon"></i></a>
	</div>
    
    <div id="footer-menu" class="footer-menu-5-icons footer-menu-style-1">
            <a href="/mypage" class="active-nav"><i class="fa fa-home"></i><span>My Page</span></a>
            <a href="/searchGPS"><i class="fa fa-map"></i><span>GPS</span></a>
            <a href="/searchName"><i class="fa fa-search"></i><span>Search</span></a>
            <a href="/qrcode"><i class="fa fa-money-bill"></i><span>Payment</span></a>
            <a href="/deposit"><i class="fa fa-piggy-bank"></i><span>Return</span></a>
            <div class="clear"></div>
    </div>
    
    <div class="page-content header-clear-medium">   
            
                
        <div class="content-boxed">
            <div class="content">
            
                <div class="profile-2">
                    <img class="profile-image preload-image" data-src="images/pictures/0s.png" alt="img">
                    <div class="profile-body">
                    <h1 class="profile-heading"><%= results[0].name %></h1>
                    <h2 class="profile-sub-heading"><text class="color-highlight">Current Point : <%= results[0].current_point %></text></h2>
                    </div>

                </div>
                           
              <br><br>
                <!-- 여기에 코드 추가 -->
                <div class="menu-cart-item">
                        <strong size="30px">Your Saving</strong><br>
                        <em><del class="color-gray2-dark">Your total Saving Point is  </del><a href="#" class="color-red1-dark"><%= results2[0].TOTAL %> P</a> </em>
                    </div>	
                <table class="table-borders">
                        <tr>
                            <th>Store</th>
                            <th>Payment</th>
                            <th>Point</th>
                            <th>Date</th>
                        </tr>

                        <% for (var i = 0; i < results2.length; i++){ %>
                            
                            <tr>
                                <td><%= results2[i].store_id %></td>
                                <td><%= results2[i].change_amount %><%= results2[i].change_unit %></td>
                                <td><%= results2[i].point_amount %></td>
                                <td><%= results2[i].date %></td>
                            </tr>

                        <% } %>
                </table>
                
                <br>

                
                <div class="menu-cart-item">
                        <strong size="30px">Your Spending</strong><br>
                        <em><del class="color-gray2-dark">Your total Spending Point is  </del><a href="#" class="color-red1-dark"><%= results[0].TOTAL %> P</a> </em>
                    </div>	
                <table class="table-borders">
                        <tr>
                            <th>Store</th>
                            <th>Point</th>
                            <th>Date</th>
                        </tr>

                        <% for (var i = 0; i < results.length; i++){ %>
                            
                            <tr>
                                <td><%= results[i].store_id %></td>
                                <td><%= results[i].point_amount %></td>
                                <td><%= results[i].date %></td>
                            </tr>

                        <% } %>
                </table>


            </div>
        </div>
        
       
<script type="text/javascript" src="scripts/jquery.js"></script>
<script type="text/javascript" src="scripts/plugins.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
</body>
